.dateTime{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #353535;
    gap: 10px;
    width: 10em;
    padding-left: 2em;
}

.main{
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 3%;
}

.note{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.035em;
    text-align: left;
    /* width: 77%; */
    width: 40em;
}

@media screen and (max-width: 700px) {
    .main{
        gap:5%;
    }
    .dateTime{
        padding-left: .2em;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 600;
        line-height: 13px;
        letter-spacing: 0.02em;
        text-align: left;
        width: 30em;
    }
    .note{
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.035em;
        text-align: left;

    }
}