.main {
    width: 70vw;
    background: #F7ECDC;
    max-height: 100vh;
}

.bar {
    background-color: #E8E8E8;
    height: 10%;
    display: flex;
    align-items: center;
}

.noteArea {
    background-color: #E8E8E8;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea {
    resize: none;
    height: 60%;
    width: 92%;
    border: 1px solid #CCCCCC;
    outline: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: .7em;
}

.textarea::placeholder {
    color: #9A9A9A;
}

.NotesScreen {
    height: 60%;
    overflow-y: scroll;
}

.button {
    position: fixed;
    background: none;
    outline: none;
    border: none;
    bottom: 5%;
    right: 3%;
    border-radius: 5px;
    display: flex;
}

.button:hover {
    box-shadow: 2px 2px 2px 2px #888888;
    cursor: pointer;
}

.backArrow{
    display: none;
}

@media screen and (max-width: 700px) {
    .main{
        width: 100vw;
        height: 100vh;
    }
    .textarea {
        resize: none;
        height: 70%;
        width: 85%;
        padding: .7em;
    }
    .bar{
        height: 10%;
    }
    .noteArea{
        height: 25%;
    }
    .NotesScreen {
        height: 65%;
    }
    .button{
        right: 5%;
    }
    .backArrow{
        display: block;
        position: relative;
        left: 10px;
        top:4%;
        outline: none;
        border: none;
        background: none;
        
    }
}