.main{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    gap: 1em;
    padding: 1em;
    align-self: center;
}

.main > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title{
    font-size: 1.2em;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.035em;
    text-align: left;
}

.label{
    font-size: 1.1em;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0.035em;
    text-align: left;
}

.text_field{
    width: 55%;
    height: 35px;
    border: 2px solid #CCCCCC;
    border-radius: 22px;
    padding: 0 20px;
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0.035em;
    text-align: left;
}

.text_field::placeholder{
    color: #979797;
    font-weight: 400;
}

.options{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    gap: 10px;
}

.formItem{
    display: flex;
    gap: 20px;
    align-items: center;
}

.color{
    display: none;
}

.colorLabel{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

.colorLabel:hover{
    cursor: pointer;
}

.color:checked~label{
    border: 3px solid #000000;
}

.button{
    width: 8em;
    height: 2.1em;
    border-radius: 11px;
    background-color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.035em;
    color: #fff;
    align-self: flex-end;
}


@media screen and (max-width: 576px) {
    .main{
        width: 90vw;
    }
}